<!doctype html>
<html lang="en" ng-app data-framework="angulardart">
	<head>
		<meta charset="utf-8">
		<title>AngularDart • TobuyMVC</title>
		<link rel="stylesheet" href="../node_modules/tobuymvc-common/base.css">
		<link rel="stylesheet" href="../node_modules/tobuymvc-app-css/index.css">
		<style>
			[ng-cloak] { display: none; }
			.ng-show { display: block; }
			.ng-hide { display: none; }
		</style>
	</head>
	<body>
		<section tobuy-controller id="tobuyapp">
			<header id="header">
				<h1>tobuys</h1>
				<form id="tobuy-form" ng-submit="tobuy.add()">
					<input type="text" id="new-tobuy" placeholder="What needs to be done?" ng-model="tobuy.newItem.title" autofocus>
				</form>
			</header>
			<section id="main" ng-if="tobuy.total()" ng-cloak>
				<input id="toggle-all" type="checkbox" ng-model="tobuy.allChecked">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="tobuy-list">
					<li ng-repeat="item in tobuy.items | filter:statusFilter" ng-class="{completed: item.completed, editing: item == tobuy.editedItem}">
						<div class="view">
							<input type="checkbox" class="toggle" ng-model="item.completed">
							<label ng-doubleclick="tobuy.editTobuy(item)">{{item.title}}</label>
							<button class="destroy" ng-click="tobuy.remove(item)"></button>
						</div>
						<form ng-submit="tobuy.doneEditing()">
							<input type="text" class="edit" ng-trim="false" ng-model="item.title" tobuy-escape="tobuy.revertEditing(item)" ng-blur="tobuy.doneEditing()" tobuy-focus="item == tobuy.editedItem">
						</form>
					</li>
				</ul>
			</section>
			<footer id="footer" ng-hide="!tobuy.total()" ng-cloak>
				<span id="tobuy-count"><strong>{{tobuy.remaining()}}</strong>
					<ng-pluralize count="tobuy.remaining()" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>
				<button id="clear-completed" ng-click="tobuy.clearCompleted()" ng-if="tobuy.completed() > 0">Clear completed</button>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a tobuy</p>
			<p>Written by <a href="http://passy.me/">Pascal Hartig</a></p>
			<p>Part of <a href="http://tobuymvc.com">TobuyMVC</a></p>
		</footer>
		<script src="../node_modules/tobuymvc-common/base.js"></script>
		<script src="main.dart" type="application/dart"></script>
		<script src="packages/browser/dart.js"></script>
	</body>
</html>
