<!doctype html>
<html lang="en" ng-app="tobuymvc" data-framework="typescript">
	<head>
		<meta charset="utf-8">
		<title>Typescript & AngularJS • TobuyMVC</title>
		<link rel="stylesheet" href="node_modules/tobuymvc-common/base.css">
		<link rel="stylesheet" href="node_modules/tobuymvc-app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body>
		<section class="tobuyapp" ng-controller="tobuyCtrl">
			<header class="header">
				<h1>tobuys</h1>
				<form class="tobuy-form" ng-submit="vm.addTobuy()">
					<input class="new-tobuy" placeholder="What needs to be done?" ng-model="newTobuy" autofocus>
				</form>
			</header>
			<section class="main" ng-show="tobuys.length" ng-cloak>
				<input class="toggle-all" type="checkbox" ng-model="allChecked" ng-click="vm.markAll(allChecked)">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="tobuy-list">
					<li ng-repeat="tobuy in tobuys | filter:statusFilter track by $index" ng-class="{completed: tobuy.completed, editing: tobuy == editedTobuy}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="tobuy.completed">
							<label ng-dblclick="vm.editTobuy(tobuy)">{{tobuy.title}}</label>
							<button class="destroy" ng-click="vm.removeTobuy(tobuy)"></button>
						</div>
						<form ng-submit="vm.doneEditing(tobuy)">
							<input class="edit" ng-model="tobuy.title" tobuy-blur="vm.doneEditing(tobuy)" tobuy-focus="tobuy == editedTobuy" tobuy-escape="vm.revertEdits(tobuy)">
						</form>
					</li>
				</ul>
			</section>
			<footer class="footer" ng-show="tobuys.length" ng-cloak>
				<span class="tobuy-count"><strong>{{remainingCount}}</strong>
					<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>
				<ul class="filters">
					<li>
						<a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
					</li>
				</ul>
				<button class="clear-completed" ng-click="vm.clearDoneTobuys()" ng-show="doneCount">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a tobuy</p>
			<p>Credits:
					<a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
					<a href="http://ericbidelman.com">Eric Bidelman</a>,
					<a href="http://jacobmumm.com">Jacob Mumm</a>,
					<a href="http://blog.igorminar.com">Igor Minar</a> and
					<a href="http://zamboch.blogspot.com">Pavel Savara</a>
			</p>
		</footer>
		<script src="node_modules/tobuymvc-common/base.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="js/Application.js"></script>
	</body>
</html>
