{{/*
	NOTE: the tobuymvc tests require that the top-level element for the
	tobuy view is an li element. I would prefer to have the top-level element for
	each tobuy be a div wrapper, and to include the li element inside this
	template. See views/app.go for the current workaround.
*/}}
<!-- <li {{ if .Completed }}class="completed"{{ end }}> -->
	<div class="view">
		<input class="toggle" type="checkbox" {{ if .Completed }}checked{{ end }}>
		<label>{{ .Title }}</label>
		<button class="destroy"></button>
	</div>
	<input class="edit" value="{{ .Title }}">
<!-- </li> -->
