<!doctype html>
<html lang="en" ng-app="tobuymvc" data-framework="firebase">
	<head>
		<meta charset="utf-8">
		<title>Firebase &amp; AngularJS • TobuyMVC</title>
		<link rel="stylesheet" href="node_modules/tobuymvc-common/base.css">
		<link rel="stylesheet" href="node_modules/tobuymvc-app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body>
		<section id="tobuyapp" ng-controller="TobuyCtrl">
			<header id="header">
				<h1>tobuys</h1>
				<form id="tobuy-form" ng-submit="addTobuy()">
					<input id="new-tobuy" placeholder="What needs to be done?" ng-model="newTobuy" autofocus>
				</form>
			</header>
			<section id="main" ng-show="totalCount" ng-cloak>
				<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="tobuy-list">
					<li ng-repeat="(id, tobuy) in tobuys | tobuyFilter" ng-class="{completed: tobuy.completed, editing: tobuy == editedTobuy}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="tobuy.completed" ng-change="tobuys.$save(tobuy)">
							<label ng-dblclick="editTobuy(tobuy)">{{tobuy.title}}</label>
							<button class="destroy" ng-click="removeTobuy(tobuy)"></button>
						</div>
						<form ng-submit="doneEditing(tobuy)">
							<input class="edit" ng-model="tobuy.title" tobuy-escape="revertEditing(tobuy)" tobuy-blur="doneEditing(tobuy)" tobuy-focus="tobuy == editedTobuy">
						</form>
					</li>
				</ul>
			</section>
			<footer id="footer" ng-show="totalCount" ng-cloak>
				<span id="tobuy-count"><strong>{{remainingCount}}</strong>
					<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>
				<ul id="filters">
					<li>
						<a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
					</li>
					<li>
						<a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
					</li>
				</ul>
				<button id="clear-completed" ng-click="clearCompletedTobuys()" ng-show="completedCount">Clear completed</button>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a tobuy</p>
			<p>Credits:
				<a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
				<a href="http://ericbidelman.com">Eric Bidelman</a>,
				<a href="http://twitter.com/_davideast">David East</a>,
				<a href="http://jacobmumm.com">Jacob Mumm</a> and
				<a href="http://blog.igorminar.com">Igor Minar</a>
			</p>
			<p>Part of <a href="http://tobuymvc.com">TobuyMVC</a></p>
		</footer>
		<script src="//cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
		<script src="node_modules/tobuymvc-common/base.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angularfire/dist/angularfire.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/tobuyCtrl.js"></script>
		<script src="js/directives/tobuyFocus.js"></script>
		<script src="js/directives/tobuyBlur.js"></script>
		<script src="js/directives/tobuyEscape.js"></script>
	</body>
</html>
