node_modules/tobuymvc-app-css/*
!node_modules/tobuymvc-app-css/index.css

node_modules/tobuymvc-common/*
!node_modules/tobuymvc-common/base.js
!node_modules/tobuymvc-common/base.css

node_modules/director/**
!node_modules/director/build/director.js

node_modules/soma.js/**
!node_modules/soma.js/build/soma.js

node_modules/soma-template/**
!node_modules/soma-template/build/soma-template.js
