node_modules/.bin

# ignore the source / documentation of each node module, but retain the
# distribution builds

node_modules/systemjs
!node_modules/systemjs/dist/system.src.js

node_modules/tobuymvc-app-css
!node_modules/tobuymvc-app-css/index.css

node_modules/tobuymvc-common
!node_modules/tobuymvc-common/base.css

node_modules/angular2
!node_modules/angular2/bundles/angular2-polyfills.js
!node_modules/angular2/bundles/angular2.dev.js

node_modules/rxjs
!node_modules/rxjs/bundles/Rx.js

# Ignore development dependencies
node_modules/tsd
node_modules/typescript

*.js.map
typings
